ableton/TheCherenkovEffect.flac filter=lfs diff=lfs merge=lfs -text
touchdesigner/TheCherenkovEffect[[:space:]]-[[:space:]]Loop.mp4 filter=lfs diff=lfs merge=lfs -text
touchdesigner/TheCherenkovEffect[[:space:]]-[[:space:]]Portrait[[:space:]]-[[:space:]]Full.mp4 filter=lfs diff=lfs merge=lfs -text
